# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Java/Nueva Carpeta/platos/nbproject/private/
/Java/Nueva Carpeta/platos/build/
/Java/Nueva Carpeta/platos2/nbproject/private/
/Java/Nueva Carpeta/platos2/build/
/Java/Nueva Carpeta/uvas/nbproject/private/
/Java/Nueva Carpeta/uvas/build/
/Java/Nueva Carpeta/uvas2/nbproject/private/
/Java/Nueva Carpeta/uvas2/build/
/Java/Nueva Carpeta/viajedeestudio/nbproject/private/
/Java/Nueva Carpeta/viajedeestudio/build/
/Java/Nueva Carpeta/llamadas/nbproject/private/
/Java/Nueva Carpeta/llamadas/build/
/Java/Nueva Carpeta/ITERACION/nbproject/private/
/Java/Nueva Carpeta/ITERACION/build/
/Java/Nueva Carpeta/promedioiter/nbproject/private/
/Java/Nueva Carpeta/promedioiter/build/
/Java/Nueva Carpeta/multiplo9/nbproject/private/
/Java/Nueva Carpeta/multiplo9/build/
/Java/Nueva Carpeta/multinumprimos/nbproject/private/
/Java/Nueva Carpeta/multinumprimos/build/
/Java/Nueva Carpeta/multiplox/nbproject/private/
/Java/Nueva Carpeta/multiplox/build/
/Java/Nueva Carpeta/paresyimpares/nbproject/private/
/Java/Nueva Carpeta/paresyimpares/build/
/Java/Nueva Carpeta/fibonnaci/nbproject/private/
/Java/Nueva Carpeta/fibonnaci/build/
/Java/java 17 al 20 de mayo/numeromayor/nbproject/private/
/Java/java 17 al 20 de mayo/numeromayor/build/
/Java/java 17 al 20 de mayo/Messtring/nbproject/private/
/Java/java 17 al 20 de mayo/Messtring/build/
/Java/java 17 al 20 de mayo/horavalida/nbproject/private/
/Java/java 17 al 20 de mayo/horavalida/build/
/Java/java 17 al 20 de mayo/caculadora/nbproject/private/
/Java/java 17 al 20 de mayo/caculadora/build/
/Java/java 17 al 20 de mayo/cajero/nbproject/private/
/Java/java 17 al 20 de mayo/cajero/build/
/Java/java 17 al 20 de mayo/cajerografico/nbproject/private/
/Java/java 17 al 20 de mayo/cajerografico/build/
/Java/java 17 al 20 de mayo/cajerografico2/nbproject/private/
/Java/java 17 al 20 de mayo/cajerografico2/build/
/Java/java 17 al 20 de mayo/numperfecto/nbproject/private/
/Java/java 17 al 20 de mayo/numperfecto/build/
/Java/java 17 al 20 de mayo/arreglo1/nbproject/private/
/Java/java 17 al 20 de mayo/arreglo1/build/
/Java/java 17 al 20 de mayo/suma2arreglos/nbproject/private/
/Java/java 17 al 20 de mayo/suma2arreglos/build/
/Java/java 17 al 20 de mayo/Busqbinaria/nbproject/private/
/Java/java 17 al 20 de mayo/JavaApplication33/nbproject/private/
/Java/java 17 al 20 de mayo/Busquedabinaria/nbproject/private/
/Java/java 17 al 20 de mayo/Busquedabinaria/build/
/Java/java 17 al 20 de mayo/Clase1/nbproject/private/
/Java/java 17 al 20 de mayo/Clase1/build/
/Java/java 17 al 20 de mayo/clase2/nbproject/private/
/Java/java 17 al 20 de mayo/clase2/build/
/Java/java 17 al 20 de mayo/ejercicio2/nbproject/private/
/Java/java 17 al 20 de mayo/sistemaem/nbproject/private/
/Java/java 17 al 20 de mayo/sistemaem/build/
/Java/java 17 al 20 de mayo/ejerccontador/nbproject/private/
/Java/java 17 al 20 de mayo/ejerccontador/build/
/Java/java 17 al 20 de mayo/fecha/nbproject/private/
/Java/java 17 al 20 de mayo/fecha/build/
/Java/java 17 al 20 de mayo/bancoclase/nbproject/private/
/Java/java 17 al 20 de mayo/bancoclase/build/
/Java/java 17 al 20 de mayo/Biblioteca/nbproject/private/
/Java/java 17 al 20 de mayo/Biblioteca/build/
/Java/Java POO/Electrodomestico/nbproject/private/
/Java/Java POO/Electrodomestico/build/
/Java/Java POO/Ciudadanocl/nbproject/private/
/Java/Java POO/Ciudadanocl/build/
